@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Heebo', sans-serif;
}
a {
    max-width: 65px;
    padding-top: 2rem;
    padding-left: 1rem;
    border-radius: 50px;
    font-size: 50px;
    cursor: pointer;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.encabezado h1 {
    font-size: 100px;
    padding-top: 3rem;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.antes, .despues {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    color: #a04934;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.antes:first-child {
    left: -55px;
}
.despues:last-child {
    right: -10px;
}

.wrapper .carrusel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 20px);
    gap: 30px;
    overflow: hidden;
}
.carrusel .card {
    height: 350px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.card {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 4px solid #696b46;
}
.card .img img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
   
}
.card h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: black
    
}
span img {
    width: 30%;
    object-fit: cover;
    justify-content: center;
    border-radius: 100%;
    padding: 1rem;
}
.card span{
    align-items: center;
   color: rgb(44, 42, 42)
}
