body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  a {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0056b3;
    font-size: 24px;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  #canvas {
    width: 100%;
    height: 600px;
    background-color: #000;
    margin-bottom: 10px;
  }
  #flecha {
    position: absolute;
    bottom: 12%;
    left: 12%;
    transform-origin: bottom left;
    transform: translateX(-50%) rotate(deg);
    width: 300px;
    height: 5px;
    background-color: red;
  
  }
  #flecha::before {
    content: '';
    position: absolute;
    top: -15px; /* Ajuste para que el triángulo esté completamente visible */
    left: 100%; /* Centrar el triángulo horizontalmente */
    transform: translateX(-50%) rotate(90deg); ;/* Ajuste para centrar el triángulo horizontalmente */
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid rgb(211, 30, 30); 
  }
  #flecha-acostada {
    position: absolute;
    bottom: 12%;
    left: 12%;
    transform-origin: bottom left;
    transform: translateX(-50%) rotate(360deg);
    width: 300px;
    height: 5px;
    background-color: red;
  
  }
  span {
    position: absolute;
    bottom: 17%;
    left: 4%;
    color: #f0f0f0;

  }
  
  .controls {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #000;
    margin-bottom: 5px;
    
  }

  .controls label {
    margin-right: 10px;
  }

  .controls input[type="range"] {
    width: 150px;
    margin-right: 10px;
  }
  .controls button {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #677079;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }

  .controls button:hover {
    background-color: #0056b3;
  }
  #distanciaLabel {
      font-size: 20px;
      color: #0056b3;
  }